# Preview cards contain extracted Stardew Valley sprites (© ConcernedApe) — do NOT
# redistribute. Kept locally only; the mod composes sprites at runtime from the
# player's own game files, so nothing copyrighted is shipped.
card-previews/
